{% extends 'base.html' %}

{% block title %}Produto detalhes{% endblock %}
{% block content %}

<div class="container mt-4">
    <h1 class="display-6">Deletar do Produto </h1>
    <div class="card">
        <div class="card-body">
             
             <p class="card-text">tem certeza que deseja excluir a Produto <strong>{{ object.title }} ?</strong></p>
             <form action="" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary btn-sm">Deletar</button>
             </form>
        </div>
    </div>
    <a href="{% url 'product_list' %}" class="btn btn-secondary mt-3 ">Voltar para a lista</a>    
</div>
{% endblock%}